*{
    padding: 0;
    margin: 0;
}
.q1{
    width: 100%;
    height: 700px;
    
}
.q2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 100px;
    margin-left: 100px;
}
.w1{
    padding-right: 30%;
    font-family: sans-serif;
    color: #2F2E2E;
}
.www{
    font-family: sans-serif;
    color: #2F2E2E;
}
.q3{
    width: 20px;
    height: 20px;
}
.qw{
    display: flex;
    width: 100%;
    height: 600px;
    
    
}
.qw1{ 
    
    background-color: #F4F6F5B2;
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 400px;
    margin-top: 70px ;
    padding: 30px;
}
.qw2{
    font-size: 50px;
    padding-top: 70px;
    color: #2F2E2E;
}
.qw3{
    font-size: 50px;
    color: #2F2E2E; 
    
}
.qw4{
    font-size: 30px;
    color: #939393;
    padding-top: 13px;
    font-family: sans-serif;
}
.ww1{
    background-image: url(/image/dom.png);
    background-size: cover;
    width: 65.5%;
    height: 600px;

}
.a1{
    width: 100px; 
    background-color: #F4F6F5B2;
    margin-top: 60.1%;
    margin-left: 87.5%;
    padding: 8px;
}
.aa{
padding-left: 15px;
width: 20px;
padding-top: 3px;
}
.aa1{
    padding-left: 20px;
    width: 20px;
}
.e1{
    width: 100%;
    height: 300px;
    background-color: #D3DBDB;
}
.eee1{
    display: flex;
}
.ee1{
    
    width: 200px;
    height: 200px;
    margin-left: 225px;
    margin-top: 30px;
}
.e2{
    text-align: center;
    padding-top: 15px;
    color: #2F2E2E;
}
.e3{
    
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #254D4D;
    margin-left: 27%;
}
.e4{
    width: 40px;
    height: 40px;
    padding-left: 21px;
    padding-top: 19px;
}
.e5{
padding-left: 60px;
}
.e6{
    padding-left: 25px;
}
.ee6{
    padding-left: 42px;
}
.r1{
    display: flex;
}
.r2{
    margin-top: 80px;
    margin-left: 120px;
}
.rr2{
    width: 732px;
    height: 571px;
}
.rrr2{
padding-left: 70px;
padding-top: 150px;
font-size: 53px;
color: #2F2E2E;
}
.rr3{
    padding-top: 20px;
   padding-left: 70px; 
   font-size: 35px;
   line-height: 50px;
}
.rrr3{
padding-left: 70px;
padding-top: 20px;
font-size: 25px;
color: #2F2E2E;
}
.t1{
    font-size: 50px;
    padding-right: 33%;
    padding-top: 50px;
}
.t2{
    padding-top: 50px;
   padding-right: 80px;
}
.y1{
    display: flex;
    flex-wrap: wrap;
}
.y2{
    margin-top: 50px;
    margin-left: 119px;
}
.yy2{
    padding-left: 90px;
    font-size: 18px;
    color: #2F2E2E;
}
.yyy2{
    padding-left: 110px;
    font-size: 18px;
    color: #2F2E2E;
}
.u1{
   display: flex; 
}
.uu1{
    padding-top: 50px;
    padding-left: 42%;
}
.uuu1{
    font-size: 51px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.u2{
 display: flex;
 margin-top: 70px;
 margin-left: 60px;
}
.u4{
    margin-left: 50px;
    margin-top: 50px;
}
.uu2{
    padding-left: 25px;
    padding-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #2F2E2E;
}
.uuu2{
    padding-top: 10px;
    padding-left: 25px;
    font-size: 17px;
   line-height: 14px;   
font-family: sans-serif;
}
.u3{
    margin-left: 20%;
}
.i1{
    margin-top: 80px;
    margin-left: 45%;
}
.i2{
    margin-left: 25px;
}

.o2{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 330px;
    background-color: #2E2F32;
    margin-top: 70px;
}
.o3{
    color: white;
    padding-top: 40px;
    padding-left: 30px;
    line-height: 25px;
}
.oo3{
    line-height: 29px;
}
.op{
    padding-top: 10px;
    font-family: sans-serif;
}
.op1{
    padding-left: 35px;
    padding-right: 35px;
}
.op2{
    padding-top: 25px;
}
.p1{
    padding-top: 10px;
    font-family: sans-serif;
}
.p2{
    padding-bottom: 10px;
    font-family: sans-serif;
}
.s1{
padding-top: 15px;
font-family: sans-serif;
}
.d1{
    padding-top: 15px;
    width: 295px;
    height: 221px;
}

.dd1{
   font-family: sans-serif;
}